#article {
    color: #fef9f8;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 3rem;
}

#article .container {
    flex-direction: column;
    max-width: 800px;
    padding: 20px;
    line-height: 1.5;
}

#article .container h1 {
    color: #ef9273;
    font-size: 3rem;
}
#article .container p {
    padding: 1rem 0;
}


/*Meida Queries Small Screen*/
@media only screen and (max-width: 600px) {
    body {
      padding: 0 20px;
    }

    #article {
        display: block;
        padding-top: 2rem;
        height: auto;
    }
    #article .container h1 {
        font-size: 1.5rem;
        margin-top: 25px;
    }
  }