* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
#allBooks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;
  padding: 40px 0;
}

.book-container {
  background: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-container .book {
  background: lightgray;
  width: 200px;
  height: 300px;
  cursor: pointer;
}