* {
  box-sizing: border-box;
}
.allBooks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 40px 20px;
}

.book-container {
  background: black;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-container .book {
  background: red;
  width: 200px;
  height: 300px;
}