#header {
    color: white;
    padding: 20px;
}

#header .container {
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#header .logo {
    background: url('../css/image/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    width: 60px;
}

#header .logo-title {
    font-size: 1rem;
}

hr {
    border: 1px solid rgb(34, 32, 32);
}