*{
    box-sizing: border-box;
}
body {
    background: #0d0d0d;
}

#myList {
    background: #fef9f8;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    padding: 20px;
    box-shadow: -2px 3px 21px 3px rgba(0,0,0,0.68);
    -webkit-box-shadow: -2px 3px 21px 3px rgba(0,0,0,0.68);
    -moz-box-shadow: -2px 3px 21px 3px rgba(0,0,0,0.68);
    transform: translate3d(400px, 0, 0);
    transition: all .4s ease-in-out;
}

.popupOpen {
    filter: blur(25px);
}

#myList.active {
    transform: translate3d(0px, 0, 0);
}


#myList h3 {
    font-size: 2rem;
    text-align: center;
}

.line {
    border: 1px solid#ef9273;
}
#myList ul {
    padding-left: 0;
}

#myList ul li {
    display: block;
    padding: 10px 0;
    margin-bottom: 1rem;
}

#myList ul li .check-circle {
    padding-right: 5px;
    color: #ef9273;
}

#myList ul li span.delete-btn {
    display: block;
    padding: 10px ;
    background-color: red;
    color: #fef9f8;
    border-radius: 5px;
    float: right;
    margin-top: -10px;
    cursor: pointer;
}

#myList .close-list {
    display: inline-block;
    margin-top: 50px;
    background: #0d0d0d;
    color: #fef9f8;
    padding: 20px 40px;
    width: 360px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}


/*Meida Queries Small Screen*/
@media only screen and (max-width: 600px) {
    #myList {
       width: 320px;
       height: auto;
       overflow: scroll;

    }

    #myList ul li {
        display: grid;
        grid-template-columns: 10% 1fr 25%;
        text-align: center;
    }

    #myList .close-list {
        height: 50px;
        width: 250px;
    }

    #myList ul li .check-circle {
        color: #ef9273;
    }
  }

  

