*{
    box-sizing: border-box;
}

#myList {
    background: wheat;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    padding: 20px;
}

#myList h3 {
    font-size: 2rem;
    text-align: center;
}
#myList ul {
    padding-left: 0;
}

#myList ul li {
    display: block;
    padding: 10px 0;
}

#myList ul li span.delete-btn {
    display: block;
    padding: 10px ;
    background-color: red;
    color: white;
    border-radius: 5px;
    float: right;
}

#myList .close-list {
    display: inline-block;
    margin: 0 auto;
    background: black;
    color: white;
    padding: 20px 40px;
    width: 360px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}